# Dependency directories
node_modules/
.package-lock.json
.yarn-lock

# Optional: macOS system files
.DS_Store

# Optional: IDE-specific files
.idea/
.vscode/

# Build output directories
/build/
/dist/

# Optional: Log files
*.log

# Environment files
.env

# Ios Pod files
packages/MyApp/ios/Pods
# Android/IntelliJ
#
packages/MyApp/androidapp/build/*
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
*.apk
*.aab
!debug.keystore